.commentItem {
  display: grid;
  grid-template-areas:
    'a n d'
    'a t t';
  grid-template-columns: 80px 300px 20px;
  overflow-x: scroll;
  margin-bottom: 15px;
  @media (max-width: 1280px) {
    grid-template-columns: 70px 400px 10px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 70px 200px 10px;
  }
  @media (max-width: 500px) {
    grid-template-columns: 70px 150px 10px;
  }
}

.name {
  grid-area: n;
}

.text {
  grid-area: t;
}

.avatar {
  grid-area: a;
  width: 50px;
  border-radius: 5px;
}

.deleteButton {
  grid-area: d;
}
