.userItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  .avatar {
    width: 80px;
    height: 80px;

    @media (max-width: 375px) {
      width: 40px;
      height: 40px;
    }
  }
  .name {
    padding: 0 30px;
    font-size: 18px;

    @media (max-width: 375px) {
      font-size: 14px;
    }
  }
}
