.wrapper {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;

  @media (max-width: 768px) {
    width: 300px;
  }

  @media (max-width: 375px) {
    width: 250px;
  }
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.image {
  width: 100%;
  margin-bottom: 20px;
}

.avatarInput {
  margin-bottom: 20px !important;
  width: 100%;

  @media (max-width: 375px) {
    font-size: 12px;
  }
}

.signUp {
  margin-bottom: 20px;
}

.deleteButton {
  width: 100%;
  margin-bottom: 20px !important;
}
