.wrapper {
  display: grid;
  grid-template-areas: 'a n';
  margin: 50px 0;
}

.name {
  grid-area: n;
  align-self: center;
}

.avatar {
  border-radius: 300px;
  grid-area: a;
}

.skeleton {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background-color: rgb(219, 217, 217);
}
