.wrapper {
  display: grid;
  width: 600px;
  margin: 0 auto;
  padding: 15px;

  @media (max-width: 1280px) {
    max-width: 700px;
  }

  @media (max-width: 768px) {
    max-width: 350px;
  }

  @media (max-width: 375px) {
    max-width: 250px;
  }
}

.preview {
  width: 300px;
  height: 300px;
  margin: 0 auto;

  @media (max-width: 375px) {
    width: 200px;
    height: 200px;
  }
}

.cancel {
  text-align: center;
}

.skeleton {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 20px;

  @media (max-width: 375px) {
    width: 200px;
    height: 200px;
  }
}

.upload {
  margin-bottom: 20px !important;
}

.delete {
  margin: 20px 0 !important;
}

.tags {
  margin-bottom: 20px !important;
}
