.wrapper {
  display: grid;
  grid-template-areas:
    'i d'
    'i c'
    'i b';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  height: 500px;
  background-color: white;
  border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.image {
  grid-area: i;
}

.description {
  grid-area: d;
  color: black;
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
}

.commentButtons {
  grid-area: b;
  padding: 25px;
}

.commentItems {
  grid-area: c;
  background-color: white;
  border-radius: 5px;
  color: black;
  overflow-y: scroll;
  padding: 10px 25px;
}

.text {
  padding: 25px;
}

.postButtons {
  margin: 25px 10px;
}
